<{extends '../Layouts/default.html'}>
<{block 'content'}>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">绑定店铺</span> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="panel panel-default mt-20">
                <div class="panel-header">选择平台</div>
                <div class="panel-body">
                    <ul class="choosebox clearfix">
                        <li>
                            <input type="radio" name="name" value="taobao" id="" />
                            <a href="javascript:void(0);" class="platform_radioToggle current"><span class="value">淘宝</span></a>
                        </li>
                        <li>
                            <input type="radio" name="name" value="tmall" id="" />
                            <a href="javascript:void(0);" class="platform_radioToggle"><span class="value">天猫</span></a>
                        </li>
                        <li>
                            <input type="radio" name="name" value="jd" id="" />
                            <a href="javascript:void(0);" class="platform_radioToggle"><span class="value">京东</span></a>
                        </li>
                        <li>
                            <input type="radio" name="name" value="mogujie" id="" />
                            <a href="javascript:void(0);" class="platform_radioToggle"><span class="value">蘑菇街</span></a>
                        </li>
                        
                    </ul>
                    <div class="rtBindShop">
                        <a href="javascript:void(0);" id="btnBindShop" class="" onclick="bindShop(this,'10001')"><span class="value">绑定新店铺</span></a>
                        <span class="grey f11">(仅任务对应的买手可见，不会被泄漏)</span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mt-20">
                <div class="panel-header">已绑定的店铺</div>
                <div class="panel-body">
                    <table class="table table-border table-bordered table-bg">
                        <thead>
                            <tr class="text-c">
                                <th>店铺账号</th>
                                <th>发货人姓名</th>
                                <th>发货人电话</th>
                                <th>发货地区</th>
                                <th>快递揽件网点编码</th>
                                <th>店铺网址</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <{foreach item=shop from=$shops}>
                            <tr class="text-c">
                                <td><{$shop.shop_name}></td>
                                <td><{$shop.sender_name}></td>
                                <td><{$shop.sender_mobile}></td>
                                <td><{$shop.sender_province}>-<{$shop.sender_city}>-<{$shop.sender_district}></td>
                                <td><{$shop.sender_code}></td>
                                <td><a class="maincolor" href="<{$shop.shop_url}>"><{$shop.shop_url}></a></td>
                                <td><a class="btn btn-success shopModify" href="javascript:;">修改店铺信息</a></td>
                            </tr>
                            <{foreachelse}>
                            <tr class="text-c">
                                <td colspan="7">暂无绑定店铺</td>
                            </tr>
                            <{/foreach}>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</section>
<{/block}>

<{block 'footer_script'}>
<script type="text/javascript" src="/lib/jquery.provincesCity.js"></script>
<script type="text/javascript" src="/lib/provincesData.js"></script>
<script type="text/javascript">
    $("#menu-shop dt").addClass("selected");
    $("#menu-shop dd").show();
    $("#menu-shop li").addClass("current");
    $(function(){   
        $('.choosebox li a').click(function(){
            var thisToggle = $(this).is('.platform_radioToggle') ? $(this) : $(this).prev();
            var checkBox = thisToggle.prev();
            checkBox.trigger('click');
            $('.platform_radioToggle').removeClass('current');
            thisToggle.addClass('current');
            return false;
        });        
    });
    $(".shopModify").on('click',function(){
        $.ajax({
            type: "GET",
             url: "/home/shop/getinfo",
             data: {id:2},
             dataType: "json",
             success: function(data){

             }
        })
    });
    function bindShop(obj,id){
       // alert(JSON.stringiy());
        var thisCur = $(' .choosebox .current span').html().trim();
        if(id=='10001'){
            layer.open({
              type: 1,
              title: '绑定新店铺',
              skin: 'layui-layer-rim', //加上边框
              area: ['620px', '440px'], //宽高
              content:'<form action="/home/test" method="post"><div class="bindShopTip"><ul class="shopTipContent"><li>店铺首页网址<span class="grey">（店铺绑定后无法修改）</span><input type="text" class="input-text"></li><li>店铺账号（主账号）<span class="grey">（绑定后无法修改，非淘宝平台，请填写店铺名称)</span><input type="text" class="input-text"></li></ul><span class="senderName">发件人姓名：<input type="text"></span><span class="senderPhone">发件人电话：<input type="text"></span><br><span class="treCitylist clearfix"><span>发件人地址：</span><div id="province"></div></span><span class="senderPlace clearfix">发件详细地址：<input type="text"></span><span class="placeCode">揽件网点编码：<input type="text"><span class="grey">填写【公司编号】</span></span><span class="CodeSearch clearfix">编号查询网站：<a href="#" class="gold">http://www.yundaex.com/fuwuwangdian_search.php</a></span><button name="" id="" class="btn btn-success btnSure mt-20" type="submit">确认</button></div></form>'
            });
        };
        $("#province").ProvinceCity();
        $('.bindShopTip').append("<input type='hidden' value='"+ thisCur+"' >");
    }
</script>
<{/block}>
