  <div class="top width_max"><div class="width_thousand">
          <dl><{if !$passport}><li><a href="/login" class="gay">登录</a>-<a href="/register" class="gay">注册</a></li><{else}><li class="myself"><a href="" class="gay">我的流量宝</a></li><{/if}><li><a href="" class="gay">帮助中心</a></li></dl>
          <dt><{$smarty.now|date_format:'%Y-%m-%d'}></dt>
  </div></div>
  <div class="header width_max"><div class="width_thousand">
    <div class="nav_user">
      <dl><a href="" title="QQ在线咨询" style="background:url(images/btn003.jpg);width:130px;height:44px;"></a><a href="" title="收费标准" style="background:url(images/btn002.jpg);width:50px;height:44px;" class="popbox-link"></a></dl>
      <dt><a href="/home/task" class="<{if $controllerName eq 'task'}>orange bold<{else}>blue_01<{/if}>">任务管理</a>｜<a href="/home/account" class="<{if $controllerName eq 'account'}>orange bold<{else}>blue_01<{/if}>">账户管理</a>｜<a href="/home/product/lists" class="<{if $controllerName eq 'product'}>orange bold<{else}>blue_01<{/if}>">账户充值</a>｜<a href="" class="blue_01">常见问题</a>｜<a href="/home/invite" class="<{if $controllerName eq 'invite'}>orange bold<{else}>blue_01<{/if}>">邀请返利</a><{if $passport}>｜<a href="/logout" class="blue_01">退出登录</a><{/if}></dt></div>
    <div class="logo"><a href="/"></a></div>
    <div class="kouhao denone">专业流量提供商</div>
  </div></div>
  
  <div class="location width_max"><div class="width_thousand">
          <span>任务IP总量：<font class="bold yellow">0/400,000</font></span>欢迎您，<font class="yellow fweight"><{$passport.loginname}></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帐户余额：<font class="yellow bold"><{$click_account.clicks}></font>点  <a href="/home/product/lists" class="green bold">充点</a>
  </div></div>
