<{extends '../Layouts/default.html'}>
<{block 'content'}>
    <div class="dialog span4">
        <div class="block">
            <div class="block-heading">Sign In</div>
            <div class="block-body">
                <form action="/verify" method="post">
                    <label>Username</label>
                    <input name="loginname" type="text" class="span12">
                    <label>Password</label>
                    <input name="password" type="password" class="span12">
                    <button type="submit" class="btn btn-primary pull-right">Sign In</button>
                    <label class="remember-me"><input type="checkbox"> Remember me</label>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        
        <p><a href="reset-password.html">Forgot your password?</a></p>
    </div>
<{/block}>
