<{extends '../Layouts/default.html'}>
<{block 'content'}>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">资金管理</span> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="panel panel-default mt-20">
                <div class="panel-header">充值</div>
                <div class="panel-body">
                    <div id="tab" class="HuiTab mt-20">
                        <div class="tabBar cl"><span>账户押金充值</span><span>账户金币充值</span><span>账户流量充值</span></div>
                        <div class="tabCon bankBindBox" id="depositBank">
                            <ul class="choosebox clearfix">
                                <li>
                                    <input type="radio" name="name" value="cmb" id="" />
                                    <a href="javascript:void(0);" class="platform_radioToggle current"><img src="images/cmb.gif"></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="icbc" id="" />
                                    <a href="javascript:void(0);" class="platform_radioToggle"><img src="images/icbc.gif"></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="icbc" id="" />
                                    <a href="javascript:void(0);" class="platform_radioToggle"><img src="images/icbc.gif"></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="icbc" id="" />
                                    <a href="javascript:void(0);" class="platform_radioToggle"><img src="images/icbc.gif"></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="icbc" id="" />
                                    <a href="javascript:void(0);" class="platform_radioToggle"><img src="images/icbc.gif"></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="icbc" id="" />
                                    <a href="javascript:void(0);" class="platform_radioToggle"><img src="images/icbc.gif"></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="icbc" id="" />
                                    <a href="javascript:void(0);" class="platform_radioToggle"><img src="images/icbc.gif"></a>
                                </li>
                            </ul>
                            <ul class="showBind">
                                <li><span class="ml20">现有账户余额：</span><span class="gold">3.82</span></li>
                                <li><span>本次充值金额：</span><input class="input-smalltext" type="text" value="500">元<span class="grey">最低1元起充</span></li>
                                <li><button name="" id="" class="btn btn-success btnSure mt-20" type="submit">确认</button></li>
                            </ul>
                        </div>
                        <div class="tabCon ">
                            <div class="goldBindBox mt-20" id="goldBox">
                                <p>1.选择套餐</p>
                                <ul class="choosebox clearfix">
                                    <li>
                                        <input type="radio" name="name" value="one" id="" />
                                        <a href="javascript:void(0);" class="gotSel_radioToggle current"><p class="value">100金币体验包</p><p class="bold font-18 highGrey">100元</p></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="five" id="" />
                                        <a href="javascript:void(0);" class="gotSel_radioToggle"><p class="value">500金币基本包</p><p class="bold font-18 highGrey">500元</p></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="ten" id="" />
                                        <a href="javascript:void(0);" class="gotSel_radioToggle"><p class="value">1000金币体验包</p><p class="bold font-18 highGrey">1000元</p></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="tween" id="" />
                                        <a href="javascript:void(0);" class="gotSel_radioToggle"><p class="value">2000金币体验包</p><p class="bold font-18 highGrey">2000元</p></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bankBindBox" id="goldBankBox">
                                <p>2.选择支付方式</p>
                                <ul class="choosebox clearfix">
                                    <li>
                                        <input type="radio" name="name" value="cmb" id="" />
                                        <a href="javascript:void(0);" class="bankBox_radioToggle current"><img src="images/cmb.gif"></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="icbc" id="" />
                                        <a href="javascript:void(0);" class="bankBox_radioToggle"><img src="images/icbc.gif"></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="icbc" id="" />
                                        <a href="javascript:void(0);" class="bankBox_radioToggle"><img src="images/icbc.gif"></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="icbc" id="" />
                                        <a href="javascript:void(0);" class="bankBox_radioToggle"><img src="images/icbc.gif"></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="icbc" id="" />
                                        <a href="javascript:void(0);" class="bankBox_radioToggle"><img src="images/icbc.gif"></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="icbc" id="" />
                                        <a href="javascript:void(0);" class="bankBox_radioToggle"><img src="images/icbc.gif"></a>
                                    </li>
                                    <li>
                                        <input type="radio" name="name" value="icbc" id="" />
                                        <a href="javascript:void(0);" class="bankBox_radioToggle"><img src="images/icbc.gif"></a>
                                    </li>
                                </ul>
                                <button name="" id="" class="btn btn-success btnSure" type="submit">确认</button>
                            </div>
                        </div>
                        <div class="tabCon mt-20" id="chargeBox">
                            <p>1.选择套餐</p>
                            <ul class="choosebox clearfix">
                                <li>
                                    <input type="radio" name="name" value="100" id="" />
                                    <a href="javascript:void(0);" class="chargeBox_radioToggle current"><p class="value">100金币500流量(1流量/0.2金币)套餐</p><p class="bold font-18 highGrey">100金币</p><p>500个PC端点击或者166个APP点击</p></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="200" id="" />
                                    <a href="javascript:void(0);" class="chargeBox_radioToggle"><p class="value">200金币1000流量(1流量/0.2金币)套餐</p><p class="bold font-18 highGrey">200金币</p><p>1000个PC端点击或者333个APP点击</p></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="500" id="" />
                                    <a href="javascript:void(0);" class="chargeBox_radioToggle"><p class="value">500金币3333流量(1流量/0.15金币)套餐</p><p class="bold font-18 highGrey">500金币</p><p>3333个PC端点击或者1111个APP点击</p></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="1000" id="" />
                                    <a href="javascript:void(0);" class="chargeBox_radioToggle"><p class="value">1000金币10000流量(1流量/0.1金币)套餐</p><p class="bold font-18 highGrey">1000金币</p><p>10000个PC端点击或者3333个APP点击</p></a>
                                </li>
                                <li>
                                    <input type="radio" name="name" value="5000" id="" />
                                    <a href="javascript:void(0);" class="chargeBox_radioToggle"><p class="value">5000金币62500流量(1流量/0.08金币)套餐</p><p class="bold font-18 highGrey">5000金币</p><p>62500个PC端点击或者20833个APP点击</p></a>
                                </li>
                            </ul>
                            <p class="font-18">2.选择支付方式</p>
                            <ul class="payFun">
                                <li><input type="checkBox"><span>使用金币支付</span><span>（可用金币 :<span class="gold">0.00</span>个，1个金币价值为1元）</span></li>
                                <li><input type="checkBox" checked><span>使用押金支付</span><span>（可用押金 :<span class="gold">3.00</span>元）</span></li>
                                <li><button name="" id="" class="btn btn-success btnSure" type="submit">确认</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mt-20">
                <div class="panel-header">资金记录</div>
                <div class="panel-body">
                    <div id="moneyTab">
                        <div class="tabBar cl"><span>提现记录</span><span>金币记录</span><span>押金记录</span><span>流量记录</span><span>押金充值记录</span><span>会员记录</span></div>
                        <div class="tabCon">
                            <table class="table table-border table-bordered table-bg mt-20">
                                <thead>
                                    <tr class="text-c">
                                        <th>申请时间</th>
                                        <th>金额</th>
                                        <th>状态</th>
                                        <th>交易信息</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-c">
                                        <td>2015-05-27 12：37</td>
                                        <td>146.56<span>元</span></td>
                                        <td>已退款</td>
                                        <td>转账金额：　146.56(壹佰肆拾陆元伍角陆分)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tabCon">
                            <table class="table table-border table-bordered table-bg mt-20">
                                <thead>
                                    <tr class="text-c">
                                        <th>时间</th>
                                        <th>收入</th>
                                        <th>支出</th>
                                        <th>结余</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-c">
                                        <td>2015-05-27 12：37</td>
                                        <td>146.56<span>元</span></td>
                                        <td></td>
                                        <td>300.22<span>元</span></td>
                                        <td>支付任务[706073224286306304]扣除佣金</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tabCon">
                            <table class="table table-border table-bordered table-bg mt-20">
                                <thead>
                                    <tr class="text-c">
                                        <th>时间</th>
                                        <th>收入</th>
                                        <th>支出</th>
                                        <th>结余</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-c">
                                        <td>2015-05-27 12：37</td>
                                        <td></td>
                                        <td>146.56<span>元</span></td>
                                        <td>300.22<span>元</span></td>
                                        <td>任务[706073224286306304-1331239]平台返款超时，扣除商家押金1元</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tabCon">
                            <table class="table table-border table-bordered table-bg mt-20">
                                <thead>
                                    <tr class="text-c">
                                        <th>时间</th>
                                        <th>收入</th>
                                        <th>支出</th>
                                        <th>结余</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-c">
                                        <td>2015-05-27 12：37</td>
                                        <td>146<span>个</span></td>
                                        <td></td>
                                        <td>300<span>个</span></td>
                                        <td>购买流量套餐存入500个流量</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tabCon">
                            <button name="" id="" class="btn btn-primary mt-20" type="submit"><i class="Hui-iconfont">&#xe665;</i>导出记录</button>
                            <table class="table table-border table-bordered table-bg mt-20">
                                <thead>
                                    <tr class="text-c">
                                        <th>时间</th>
                                        <th>收入</th>
                                        <th>支出</th>
                                        <th>结余</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-c">
                                        <td>2015-05-27 12：37</td>
                                        <td>146<span>元</span></td>
                                        <td></td>
                                        <td>300<span>元</span></td>
                                        <td>账户押金充值</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tabCon">
                            <table class="table table-border table-bordered table-bg mt-20">
                                <thead>
                                    <tr class="text-c">
                                        <th>时间</th>
                                        <th>金额</th>
                                        <th>金币数</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-c">
                                        <td>2015-05-27 12：37</td>
                                        <td>146<span>元</span></td>
                                        <td>300<span>个</span></td>
                                        <td>VIP会员续费，有效期至：2016-05-04</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<{/block}>

<{block 'footer_script'}>
<script type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script> 

<script type="text/javascript">
    $("#menu-money dt").addClass("selected");
    $("#menu-money dd").show();
    $("#menu-money li").addClass("current");

    $(function(){
        $.Huitab("#tab .tabBar span","#tab .tabCon","current","click","0");
        $.Huitab("#moneyTab .tabBar span","#moneyTab .tabCon","current","click","0");
    });
    $(function(){   
        $('#depositBank .choosebox li a').click(function(){
            var thisToggle = $(this).is('.platform_radioToggle') ? $(this) : $(this).prev();
            var checkBox = thisToggle.prev();
            checkBox.trigger('click');
            $('.platform_radioToggle').removeClass('current');
            thisToggle.addClass('current');
            return false;
        });
        $('#goldBox .choosebox li a').click(function(){
            var thisToggle = $(this).is('.gotSel_radioToggle') ? $(this) : $(this).prev();
            var checkBox = thisToggle.prev();
            checkBox.trigger('click');
            $('.gotSel_radioToggle').removeClass('current');
            thisToggle.addClass('current');
            return false;
        });
        $('#goldBankBox .choosebox li a').click(function(){
            var thisToggle = $(this).is('.bankBox_radioToggle') ? $(this) : $(this).prev();
            var checkBox = thisToggle.prev();
            checkBox.trigger('click');
            $('.bankBox_radioToggle').removeClass('current');
            thisToggle.addClass('current');
            return false;
        });
        $('#chargeBox .choosebox li a').click(function(){
            var thisToggle = $(this).is('.chargeBox_radioToggle') ? $(this) : $(this).prev();
            var checkBox = thisToggle.prev();
            checkBox.trigger('click');
            $('.chargeBox_radioToggle').removeClass('current');
            thisToggle.addClass('current');
            return false;
        });
});

    $('.tenpayBind').addClass("block");
    $(".choosebox li :radio").on('click' ,function(){
        var _that =this.value;
        $('.showBind >ul').removeClass('block');
        if(_that=="alipay"){
            $('.alipayBind').addClass("block");
        }else if(_that=="tenpay"){
            $('.tenpayBind').addClass("block");
        }else if(_that=="bank"){
            $('.bankBind').addClass("block");
        }
    })
</script> 
<{/block}>
