<{extends '../Layouts/default.html'}>

<{block 'style'}>
<link href="/src/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="/src/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
<{/block}>

<{block 'header_script'}>
<script type="text/javascript" src="/src/js/jquery-ui.min.js"></script>
<{*<script type="text/javascript" src="/src/jQuery-Timepicker-Addon/jquery-ui-timepicker-addon.js"></script>*}>
<script type="text/javascript" src="/src/js/jquery.ui.datepicker-zh-CN.js"></script>
<{*<script type="text/javascript" src="/src/js/jquery-ui-timepicker-zh-CN.js"></script>*}>
<{/block}>

<{block 'content'}>
  <div class="qstion width_thousand">
    <div class="qstion_list">
      <div class="title font14 font_green bold">系统公告</div>
      <div class="demo">
        <li><a href="" class="gay2">· 点击网址设置中增加批量设置点击，UA设置中增加了分辨率设置</a></li>
        <li><a href="" class="gay2">· 增加从流量宝软件上导入任务到会员系统</a></li>
        <li><a href="" class="gay2">· 流量宝VIP会员系统升级</a></li>
      </div>
    </div>
    <div class="qstion_list">
      <div class="title font14 font_green bold">常见问题</div>
      <div class="demo">
        <li><a href="" class="gay2">· 点击网址设置中增加批量设置点击，UA设置中增加了分辨率设置</a></li>
        <li><a href="" class="gay2">· 增加从流量宝软件上导入任务到会员系统</a></li>
        <li><a href="" class="gay2">· 流量宝VIP会员系统升级</a></li>
      </div>
    </div>
  </div>

  <div class="zhanghu width970">
    <div class="title"><span class="bold">账户点数记录查询</span></div>
    <div class="time">
      <table cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>发生时间：</td>
          <td>从</td>
          <td><input type="text" style="width:100px;border:1px solid #c9c9c9;background:#fff;height:18px;font-size:14px; line-height:18px;" name="start_date" id="start_date"></td>
          <td>到</td>
          <td><input type="text" style="width:100px;border:1px solid #c9c9c9;background:#fff;height:18px;font-size:14px; line-height:18px;" name="end_date" id="end_date"></td>
          <td>点数类型：</td>
          <td><select name="">
            <option selected="selected">所有类型</option>
          </select></td>
          <td>编号：</td>
          <td><input type="submit" style="border:1px solid #a4bc86;background:#dbe8ca;color:#5a733b; font:12px '微软雅黑'; cursor:pointer;width:60px;height:22px;" value="查询" name=""></td>
        </tr>
      </tbody></table>
    </div>
    <div class="num">
      <table cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td width="150">账户余额：<font class="font14 bold font_orange">0.00</font>点</td>
          <td width="150">累计充值：<font class="font14 bold font_orange">0.00</font>点</td>
          <td width="150">累计消耗：<font class="font14 bold font_orange">0.00</font>点</td>
          <td><input type="button" style="border:1px solid #ff9900;background:#ffffcc;color:#f60; font:12px '微软雅黑'; cursor:pointer;width:80px;height:24px;" value="我要充值" name=""></td>
        </tr>
      </tbody></table>
    </div>
    <div class="list">
      <table cellspacing="0" cellpadding="0">
        <tbody><tr class="font14 font_blue01 tabtitlebg">
          <td style="border-bottom:1px solid #959595;">发生时间</td>
          <td style="border-bottom:1px solid #959595;">变化原因</td>
          <td style="border-bottom:1px solid #959595;">点数收支</td>
          <td style="border-bottom:1px solid #959595;">点数余额</td>
          <td style="border-bottom:1px solid #959595;">备注</td>
        </tr>
        <{foreach item=l from=$logs}>
        <tr class="tabtrbg01">
          <td><{$l.created_at|date_format:"%Y-%m-%d %H:%M:%S"}></td>
          <td><{if $l.changed_type eq 'task'}>点击任务消耗<{elseif $l.changed_type eq 'buy'}>购买点卡<{/if}></td>
          <td><{if $l.changed_clicks > 0}>+<{else}><{/if}><{$l.changed_clicks}></td>
          <td><{$l.balance_clicks}></td>
          <td><{if $l.changed_type eq 'task'}>任务编号:<{$l.des.kid}><{elseif $l.changed_type eq 'buy'}>订单号:<{$l.des.trade_id}><{/if}></td>
        </tr>
        <{/foreach}>
      </tbody></table>
    </div>
  <{$page}>
  </div>
<{/block}>

<{block 'footer_script'}>
<script type="text/javascript">
$(function(){
    $('#start_date').datepicker();
    $('#end_date').datepicker();
});
</script>
<{/block}>
