<{extends '../Layouts/default.html'}>

<{block 'content'}>
<div class="span3">
    <{include file="../Common/sidebar_nav.html"}>
</div>
<div class="span9">
    <h1 class="page-title">会员列表</h1>
    <div class="well">
        <table class="table">
          <thead>
            <tr>
              <th width="20%">会员名</th>
              <th width="20%">qq</th>
              <th width="20%">手机号</th>
              <th width="20%">邮箱</th>
              <th width="20%">加入时间</th>
            </tr>
          </thead>
          <tbody>
            <{foreach item=p from=$passports}>
            <tr>
              <td><{$p.loginname}></td>
              <td><{$p.qq}></td>
              <td><{$p.mobile}></td>
              <td><{$p.email}></td>
              <td><{$p.created_at|date_format:'%Y-%m-%d %H:%M:%S'}></td>
            </tr>
            <{/foreach}>
          </tbody>
        </table>
    </div>
    <{$page}>

    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
    </div>
</div>
<{/block}>
