<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>流量云</title>
<link href="/src/css/public.css" rel="stylesheet" type="text/css" />
<{block 'style'}>
<{/block}>
<script type="text/javascript" src="/src/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/src/js/jquery.caroufredsel-6.0.4-packed.js" ></script>
<script type="text/javascript" src="/src/js/tankuan.js" ></script>
<{block 'header_script'}>
<{/block}>
</head>

<body>
  <{include file="../Common/header.html"}>
  <{block 'content'}>
  <{/block}>
  <{include file="../Common/footer.html"}>


<!--弹框开始-->
  <div id="screen"></div><!--screen end-->

  <div class="popbox">
	<div class="demo biaozhun">
	  <ul>
      
        <div class="title">收费标准</div>
        <div class="list">
          <dl><span class="font14 font_green bold">基础IP费：</span></dl>
          <dt>
            <li>111,<font class="font_orange">222</font></li>
            <li>111,<font class="font_orange">222</font></li>
            <li>111,<font class="font_orange">222</font></li>
            <li>111,<font class="font_orange">222</font></li>
            <li class="zhushi">注：as发大水法撒旦发射点发</li>
          </dt>
        </div>
        <div class="list">
          <dl><span class="font14 font_green bold">增值服务费：</span><font class="font_yellow">提示文字</font></dl>
          <dt>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li><font class="font_blue02 bold">10-15</font>秒，加收基础IP费用<font class="font_orange">0.5</font>倍的流量费</li>
            <li class="zhushi">注：as发大水法撒旦发射点发</li>
          </dt>
        </div>
        <div class="list">
          <dl><span class="font14 font_green bold">折扣优惠：</span><font class="font_yellow">提示文字</font></dl>
          <dt>
            <li>一次性订购<font class="font_blue02 bold">30</font>天以上服务，按照<font class="font_orange">9.5</font>折</li>
            <li>一次性订购<font class="font_blue02 bold">30</font>天以上服务，按照<font class="font_orange">9.5</font>折</li>
            <li>一次性订购<font class="font_blue02 bold">30</font>天以上服务，按照<font class="font_orange">9.5</font>折</li>
            <li>一次性订购<font class="font_blue02 bold">30</font>天以上服务，按照<font class="font_orange">9.5</font>折</li>
            <li class="zhushi">注：as发大水法撒旦发射点发</li>
          </dt>
        </div>
        <div class="buy" style="text-align:center;"><input type="button" value="立即去充值" name=""  style="border:none;background:#f60;color:#fff;font:18px '微软雅黑'; cursor:pointer;width:260px;height:50px;font-weight:bold;"/></div>
	  </ul>
	</div>
	<div class="close"><a class="close-btn" href="#"></a></div>
  </div>
  <!--弹框结束-->
<{block 'footer_script'}>
<{/block}> 
</body>
</html>
