<{extends '../Layouts/default.html'}>
<{block 'content'}>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">个人中心</span> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <p class="f-20 text-success">欢迎用户<span class="f-14">*****</span>！</p>
            <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">我的财务情况<span class="financial grey fr"><a href="#">押金充值</a>|<a href="#">结算</a>|<a href="#">购买金币</a></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>可用押金 </td>
                        <td><span class="gold">9.52</span>元</td>
                    </tr>
                    <tr>
                        <td>商家返款冻结押金 </td>
                        <td><span class="gold">0.00</span>元</td>
                    </tr>
                    <tr>
                        <td>平台返款冻结押金 </td>
                        <td><span class="gold">87.00</span>元</td>
                    </tr>
                    <tr>
                        <td>可用金币 </td>
                        <td><span class="gold">0.00</span>个<a class="maincolor fb pd-10" href="#">购买金币</a></td>
                    </tr>
                    <tr>
                        <td>可用流量 </td>
                        <td><span class="gold">500</span>个<a class="maincolor fb pd-10" href="#">购买流量</a></td>
                    </tr>
                    <tr>
                        <td>邀请总奖励 </td>
                        <td><span class="gold">0</span>个<a class="maincolor fb pd-10" href="#">(邀请用户，赚取金币！)</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel panel-default mt-20">
                <div class="panel-header">网站公告</div>
                <div class="panel-body">
                    <ul class="newList">
                        <li><a href="#">网站新闻网站新闻网站新闻</a><span class="grey fr">2016-03-30 09:36:08</span></li>
                        <li><a href="#">网站新闻网站新闻网站新闻</a><span class="grey fr">2016-03-30 09:36:08</span></li>
                        <li><a href="#">网站新闻网站新闻网站新闻</a><span class="grey fr">2016-03-30 09:36:08</span></li>
                        <li><a href="#">网站新闻网站新闻网站新闻</a><span class="grey fr">2016-03-30 09:36:08</span></li>
                        <li><a href="#">网站新闻网站新闻网站新闻</a><span class="grey fr">2016-03-30 09:36:08</span></li>
                    </ul>
                </div>
            </div>
        </article>
        <footer class="footer">
            <p>Copyright &copy;2015 H-ui.admin v2.4 All Rights Reserved.<br>
                本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
        </footer>
    </div>
</section>
<{/block}>
