<{extends '../Layouts/default.html'}>
<{block 'header_script'}>
<script type="text/javascript" src="/src/js/jquery.zeroclipboard.min.js" ></script>
<{/block}>

<{block 'content'}>
<div class="fanli width_thousand">
    <div class="title font_blue01 jianglijizhi">奖励机制</div>
    <div class="fanlist">
      <li class="jizhi"><span class="font_blue01">• 邀请会员成功开通、续费会员，您将获得：</span><p>&nbsp;&nbsp;&nbsp;&nbsp;6个月奖励：<font class="font14 bold font_orange">60元</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9个月奖励：<font class="font14 bold font_blue02">90元</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1年奖励：<font class="font14 bold font_blue02">108元</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2年奖励：<font class="font14 bold font_blue02">199元</font></p></li>
      <li class="jizhi"><span class="font_blue01">•  · 邀请的会员每次购买积分，根据购买的积分您将获得相应的奖励，如下：</span>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;邀请会员支付<font class="font_orange">1,000元</font>购买积分，可获得奖励<font class="font14 bold font_blue02">100元</font></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;邀请会员支付<font class="font_orange">1,000元</font>购买积分，可获得奖励<font class="font14 bold font_blue02">100元</font></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;邀请会员支付<font class="font_orange">1,000元</font>购买积分，可获得奖励<font class="font14 bold font_blue02">100元</font></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;邀请会员支付<font class="font_orange">1,000元</font>购买积分，可获得奖励<font class="font14 bold font_blue02">100元</font></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;邀请会员支付<font class="font_orange">1,000元</font>购买积分，可获得奖励<font class="font14 bold font_blue02">100元</font></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;邀请会员支付<font class="font_orange">1,000元</font>购买积分，可获得奖励<font class="font14 bold font_blue02">100元</font></p>
      </li>
      <li class="copy"><span class="font_blue02 font14">邀请链接：</span><div><input name="invite_url" type="text" value="<{$inviteUrl}>" style="width:350px;border:1px solid #c9c9c9;background:#fff;height:28px;font-size:14px; line-height:28px;"></div><div><input type="button" value="复制链接" name="" style="border:none;display:block;background:#2381bd; cursor:pointer;width:80px;height:32px;color:#fff;font:14px '微软雅黑';"></div></li>
    </div>
    
    <div class="clear"></div>
    <div class="title font_blue01 allquestion">常见问题</div>
    <div class="fanlist">
      <li class="question"><span class="font_blue01">• 邀请会员成功开通、续费会员，您将获得：</span><p>&nbsp;&nbsp;&nbsp;&nbsp;答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账个工作日内到账</p></li>
      <li class="question"><span class="font_blue01">• 邀请会员成功开通、续费会员，您将获得：</span><p>&nbsp;&nbsp;&nbsp;&nbsp;答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账个工作日内到账</p></li>
      <li class="question"><span class="font_blue01">• 邀请会员成功开通、续费会员，您将获得：</span><p>&nbsp;&nbsp;&nbsp;&nbsp;答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账个工作日内到账</p></li>
      <li class="question"><span class="font_blue01">• 邀请会员成功开通、续费会员，您将获得：</span><p>&nbsp;&nbsp;&nbsp;&nbsp;答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账个工作日内到账</p></li>
      <li class="question"><span class="font_blue01">• 邀请会员成功开通、续费会员，您将获得：</span><p>&nbsp;&nbsp;&nbsp;&nbsp;答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账个工作日内到账</p></li>
      <li class="question"><span class="font_blue01">• 邀请会员成功开通、续费会员，您将获得：</span><p>&nbsp;&nbsp;&nbsp;&nbsp;答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账答：根据活动规则，邀请会员获得的奖励，将会直接发放到您的流量符账户；奖励满200元后可申请提现，申请提现后2个工作日内到账个工作日内到账</p></li>
    </div>
    
  </div>
<{/block}>
