<{extends '../Layouts/default.html'}>
<{block 'header_script'}>
<script type="text/javascript" src="/src/js/jquery.zeroclipboard.min.js" ></script>
<{/block}>

<{block 'content'}>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span class="c-666">邀请好友</span> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="panel panel-default mt-20">
                <div class="panel-header">邀请好友注册</div>
                <div class="panel-body">
                    <textarea maxlength="300" id="copyUrl" rows="10" cols="70">最靠谱的信誉提升平台，推荐你加入，还有会员送哟：<{$inviteUrl}></textarea>
                    <div><input type="button" id="copyBtn" value="复制邀请链接">(如果点击无响应，请手工复制)</div>
                </div>
            </div>
            <div class="panel panel-default mt-20">
                <div class="panel-header">我邀请到的好友</div>
                <div class="panel-body">
                    <ul class="taskFilterPanel clearfix">
                        <li><span class="fl ml20">好友身份:</span>
                            <span class="select-box inline">
                                    <select name="" class="select friendIdentify">
                                        <option value="all">全部</option>
                                        <option value＝"buyer">买手</option>
                                        <option value＝"seller">商家</option>
                                    </select>
                                </span> 
                        </li>
                        <li><span class="fl ml20">昵称:</span><input class="input-smalltext" type="text" ></li>
                        <li><span class="fl ml20">QQ:</span><input class="input-smalltext" type="text" ></li>
                        <li><span class="fl ml20">好友状态:</span>
                            <span class="select-box inline">
                                    <select name="" class="select friendStatus">
                                        <option value="all">全部</option>
                                        <option value＝"inactive">注册后未激活</option>
                                        <option value＝"active">已激活，尚未开通会员</option>
                                        <option value＝"valid">注册后开通会员</option>
                                        <option value＝"invalid">会员过期</option>
                                        <option value＝"locked">账号被冻结</option>
                                    </select>
                                </span> 
                        </li>                       
                        <li><span class="fl ml20">注册时间:</span>
                            <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="logmin" class="input-text Wdate" style="width:120px;">
                            -
                            <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;">
                        </li>
                        <li><button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>查询</button></li>
                    </ul>
                    <table class="table table-border table-bordered table-bg mt-20">
                        <thead>
                            <tr class="text-c">
                                <th>昵称</th>
                                <th>身份</th>
                                <th>QQ</th>
                                <th>状态</th>
                                <th>注册时间</th>
                                <th>充值会员时间</th>
                                <th>获得奖励金币</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-c">
                                <td>Lin1126</td>
                                <td>买手</td>
                                <td>653167256</td>
                                <td>会员已过期</td>
                                <td>2015-03-20 15：00：01</td>
                                <td>----</td>
                                <td>----</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</section>
<{/block}>

<{block 'footer_script'}>
<script type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="/lib/ZeroClipboard.js"></script>
<script type="text/javascript">
    $("#menu-invite dt").addClass("selected");
    $("#menu-invite dd").show();
    $("#menu-invite li").addClass("current");

    $(function(){
        //init();
        function init() {
            ZeroClipboard.setMoviePath( '/static/h-ui/ZeroClipboard.swf' );  //和html不在同一目录需设置setMoviePath
            var clip = new ZeroClipboard.Client(); // 新建一个对象
            clip.setHandCursor( true );
            clip.setText($('#copyUrl').val()); // 设置要复制的文本。
            clip.addEventListener( "mouseUp", function(client) {
                alert("复制成功！");
            });
            // 注册一个 button，参数为 id。点击这个 button 就会复制。
            //这个 button 不一定要求是一个 input 按钮，也可以是其他 DOM 元素。
            clip.glue("copyBtn"); // 和上一句位置不可调换
        }
        $.Huitab("#tab .tabBar span","#tab .tabCon","current","click","0");
    });
</script> 
<{/block}>
